.left {
	width: 18%;
	height: 100%;
	background: #6d72c3;
	z-index: 1;
	position: fixed;
}

#profilepicture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 7.5px solid #a7aadb;
	width: 9.5rem;
	height: 9.5rem;
	margin-top: 10rem;
}

.menu {
	text-align: center;
	margin-top: 1.5rem;
}

.menu li {
	padding: 0.7rem;
}

.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Mulish', sans-serif;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.55);
}

.menu li a:hover {
	color: rgba(255, 255, 255, 1)
}

.container {
	z-index: -1;
	width: 82%;
	height: 100%;
	margin-left: 18%;
}

.aboutresume {
	height: 50rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.about {
	padding-left: 4rem;
	padding-top: 20%;
}

.about h1 {
	text-transform: uppercase;
	font-size: 5rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 800;
	color: #343a40;
}

.about h1 span {
	color: #6d72c3;
}

.personalinformation li {
	display: inline-block;
	color: #6c757d;
	text-transform: uppercase;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding-right: 0.5rem;
}

.personalinformation li:last-child {
	color: #6d72c3;
	text-decoration: underline;
}

.about p {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 85%;
	margin-top: 3.5rem;
	line-height: 1.5rem;
}

.socialmediaitens li {
	display: inline-block;
	margin-top: 3.5rem;
	padding-right: 1.8rem;
}

.socialmediaitens li a {
	font-size: 1.6rem;
	color: white;
	background: #495057;
	border-radius: 100%;
	padding: 0.8rem 1rem 0.8rem 1rem;
	text-align: center;
}

.socialmediaitens li a:hover {
	background: #6d72c3;
}

.experience {
	height: 80rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.workexperience {
	padding-left: 4rem;
	padding-top: 8%;
}

.workexperience h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
}

.workexperience h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
	padding-top: 3rem;
}

.workexperience h3 {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #6c757d;
	padding-top: 1rem;
}

.workexperience h4 {
	font-family: 'Mulish', sans-serif;
	color: #6d72c3;
	text-align: right;
	padding-right: 2rem;
}

.workexperience p {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 75%;
	line-height: 1.5rem;
	padding-top: 1.2rem;
}

.education {
	height: 50rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.educationhistory {
	padding-left: 4rem;
	padding-top: 16%;
}

.educationhistory h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
}

.educationhistory h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
	padding-top: 3rem;
}

.educationhistory h3 {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #6c757d;
	padding-top: 1rem;
}

.educationhistory h4 {
	font-family: 'Mulish', sans-serif;
	color: #6d72c3;
	text-align: right;
	padding-right: 2rem;
}

.educationhistory p {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 75%;
	line-height: 1.5rem;
	padding-top: 1.2rem;
}

.skills {
	height: 50rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.skillsihave {
	padding-left: 4rem;
	padding-top: 18%;
}

.skillsihave h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
	padding-bottom: 1.3rem;
}

.skillsihave h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #6c757d;
	padding-top: 2rem;
}

.skillsicons li {
	display: inline-block;
	color: #6c757d;
	font-size: 3rem;
	padding-right: 1.3rem;
	padding-top: 2rem;
}

.workflowitens {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.workflowitens li {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 75%;
	line-height: 1.5rem;
}

.workflowitens li:before {
	content: "✔  ";
	font-weight: bold;
}

.interests {
	height: 50rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.interestsihave {
	padding-left: 4rem;
	padding-top: 23%;
}

.interestsihave h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
	padding-bottom: 2.5rem;
}

.interestsihave p {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 85%;
	margin-top: 1.2rem;
	line-height: 1.5rem;
}

.certificates {
	height: 50rem;
	position: relative;
	border-bottom: 0.05rem solid #ced4da;
}

.certificates-courses {
	padding-left: 4rem;
	padding-top: 22%;
}

.certificates-courses h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #343a40;
	padding-bottom: 2.5rem;
}

.certificatesitens li {
	font-family: 'Mulish', sans-serif;
	color: #6c757d;
	width: 85%;
	line-height: 1.5rem;
	padding-left: 1.5rem;
}

.certificatesitens li:before {
	content: "🏆  "
}

@media screen and (max-width: 480px) {
	.left {
		width: 100%;
		height: 7%;
	}

	#profilepicture, .menu li a {
		display: none;
	}

	.container, .aboutresume, .experience, .education, .skills, .interests, .certificates {
		width: 100%;
		margin: 0;
	}

	.about {
		padding-top: 6rem;
	}

	.experience {
		height: 132rem;
	}

	.educationhistory {
		padding-top: 12rem;
	}

	.skills, .interests, .certificates {
		padding-top: 9rem;
	}
}